body {
  font-family: 'Quicksand', sans-serif;
  background: #EEF1DA;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  color: #e07a9c;
}

form {
  background: #D5E5D5;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
}

input, button {
  /* width: 100%; */
  margin: 0.5rem 0;
  padding: 0.75rem;
  border: 1px solid #eecbd2;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  background: #ADB2D4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  border: none;
}

button:hover {
  background: #C7D9DD;
}

.card {
  background: #F7F9F9;
  border-left: 5px solid #C7D9DD;
  padding: 1rem;
  margin: 0.75rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.card .info {
  flex-grow: 1;
}

.card .actions {
  display: flex;
  gap: 0.5rem;
}

.card .actions button {
  background: #C7D9DD;
  color: #333;
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}

.card .actions button:hover {
  background: #D5E5D5;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ccc;
  font-family: 'Quicksand', sans-serif;
}

.main-header .user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.user-icon {
  font-size: 20px;
}

#logoutBtn {
  background-color: #C7D9DD;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  width: fit-content;
}

#logoutBtn:hover {
  background-color: #ADB2D4;
}